<div class="com-mainmenu">
	<ul class="mainmenu">
	 	<li class="on">
	 		<a class="item">首页</a>
	 	</li>
	 	<li id="ui-dropdown">
	 		<a class="item selector">资源库<i class="dropdown-arrow"></i></a>
	 		<div class="dropdown">
		 		<ul class="droplist">
		 			<li><a href="###" class="dropitem">基础库下载</a></li>
		 			<li><a href="###" class="dropitem">插件库</a></li>
		 			<li><a href="###" class="dropitem">实例分享</a></li>
		 		</ul>
	 		</div>
	 	</li>
	 	<li>
	 		<a class="item">在线编辑器</a>
	 	</li>
	 	<li>
	 		<a class="item">网址导航</a>
	 	</li>
	 	<li>
	 		<a class="item">项目管理</a>
	 	</li>
	</ul>
</div>