@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 按钮通用样式（固定样式） ---------------------//
.ui-btn {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	text-align: center;
	border-radius: $radius;
	&.s-disabled {
		cursor: default;
	}

	//--------------------- 主要确认按钮 ---------------------//
	&.ui-btn-main {
		min-width: 68px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		color: #fff;
		background-color: $main;
		&.s-disabled {
			background-color: #e1e1e1;   //
			// @include hover(background-color,#e1e1e1,#e1e1e1);  //
		}
		@include hovers((background-color,$main-light,$main-dark)(color,$main-light,$main-dark));
		&[data-size="size-l"] {
			
		}
		&[data-size="size-s"] {
			
		}
	}

	//--------------------- 白色按钮 ---------------------//
	&.ui-btn-sub {
		display: inline-block;
		vertical-align: middle;
		height: 30px;
		line-height: 28px;
		font-size: 14px;
		color: $grey-fz-light;
		border: 1px solid $grey-border;
		background-color: #fff;
		border-radius: 3px;
	}
	
}
