@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 按钮通用样式（固定样式） ---------------------//
.ui-btn {
	display: inline-block;
	vertical-align: middle;
	min-width: 68px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	font-size: 14px;
	text-align: center;
	border-radius: $radius;
	cursor: pointer;
	&[data-size="size-l"] {
		min-width: 80px;
		height: 64px;
		line-height: 64px;
		font-size: 16px;
	}
	&[data-size="size-s"] {
		
	}

	//--------------------- 主要确认按钮 ---------------------//
	&.ui-btn-main {
		color: #fff;
		background-color: $main;
		@include hover(background-color,$main-l,$main-d);
		&[data-size="size-l"] {
			
		}
		&[data-size="size-s"] {
			height: 30px;
			line-height: 30px;
		}
	}

	//--------------------- 第二确认按钮 ---------------------//
	&.ui-btn-sub {
		color: #fff;
		background-color: $sub;
		@include hover(background-color,$sub-l,$sub-d);
		&[data-size="size-l"] {
			
		}
		&[data-size="size-s"] {
			
		}
	}

	&.ui-btn-default {
		line-height: 38px;
		color: $fz;
		border: 1px solid $border;
		background-color: #fff;
		@include hovers((border-color,$main,$main-l)(color,$main,$main-l));
		&[data-size="size-l"] {
			
		}
		&[data-size="size-s"] {
			height: 30px;
			line-height: 28px;
			
		}
	}
	
	//不可点击
	&.s-disabled {
		cursor: default;
		background-color: #e1e1e1;
		@include hover(background-color,#e1e1e1,#e1e1e1);
	}
	//block按钮
	&.ui-btn-wide {
		display: block;
		width: 100%;
	}
}
