@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 通用下拉菜单---------------------//
.ui-dropdown {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	.selector {
		display: block;
		position: relative;
		line-height: 36px;
		padding: 0 25px 0 15px;
		font-size: 14px;
		color: $fz;
		cursor: pointer;
		// &:hover + .dropdown {
		// 	display: block;
		// }
	}
	//小三角
	.dropdown-arrow {
		position: absolute;
		right: 5px;
		top: 50%;
		width: 12px;
		height: 12px;
		line-height: 12px;
		margin-top: -4px;
		content: "";
		font-size: 12px;
		color: $icon;
		@extend %iconfont;
		@extend %icon-arrow3;
	}
	//下拉内容
	.dropdown {
		// display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 36px;
		max-height: 406px;		//
		border: 1px solid $border;
		background-color: #fff;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: $zindex-dd;
		&:hover {
			display: block;
		}
		.dropitem {
			display: block;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			font-size: 14px;
			color: $fz;
			text-align: center;
			@extend %tof;
			cursor: pointer;
			transition: color 0.3s ease-out, background-color 0.3s ease-out;
			&:hover {
				color: $fz-d;
				background-color: #f4f6f8;
			}
			&:active {
				color: blue;
				background-color: #e2e9f0;
			}
		}
	}
	&.on {
		.selector {
			z-index: $zindex-dd + 1;
		}
	}	
}
