@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 缺省基础样式 ---------------------//
.com-error {
	padding: 100px 0;
	.error {
		padding-top: 340px;
		line-height: 2;
		font-size: 16px;
		color: $fz;
		text-align: center;
		&.empty {
			@include bgurl("default-error-empty.png",no-repeat,center,top);
		}
		&.weberror {
			@include bgurl("default-error-weberror.png",no-repeat,center,top);
		}
		&.comment {
			@include bgurl("default-error-comment.png",no-repeat,center,top);
		}
	}
	//／／／／／／／／／尺寸
	//小尺寸
	&.small {
		padding: 15px 0;
		.error {
			padding-top: 110px;
			font-size: 14px;
			color: #000;
			background-size: 90px auto !important;
			opacity: .4;
		}
	}
	//小尺寸，横向排列
	&.smallCol {
		padding: 15px 0;
		text-align: center;
		.error {
			display: inline-block;
			height: 110px;
			line-height: 110px;
			padding-top: 0;
			padding-left: 110px;
			font-size: 14px;
			color: #000;
			background-size: 90px auto !important;
			opacity: .4;
			background-position: left top !important;
		}
	}
}
	