@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 缺省基础样式 ---------------------//
.com-error {
	padding: 100px 0;
	.error {
		padding-top: 340px;
		line-height: 2;
		font-size: 16px;
		color: $fz;
		text-align: center;
		&.empty {
			@include bgurl("default-error-empty.png",no-repeat,center,top);
		}
		&.weberror {
			@include bgurl("default-error-weberror.png",no-repeat,center,top);
		}
		&.comment {
			@include bgurl("default-error-comment.png",no-repeat,center,top);
		}
	}
}
	