@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 链接通用样式（固定样式） ---------------------//
.ui-link {
	font-size: 14px;
	cursor: pointer;

	//--------------------- 主色调 ---------------------//
	&.ui-link-main {
		color: $main;
	}

	//--------------------- 黑底 ---------------------//
	&.ui-link-light {
		color: $fz-l;
		@include hover(color,$main,$main-d);
	}
}
