@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 弹窗通用样式（固定样式） ---------------------//
.ui-modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: $zindex-modal;

	.popwrap {
		position: absolute;
		left: 50%;
		top: 50%;
		.btn-closepop {
			position: absolute;
			right: 20px;	//
			top: 14px;	//
			width: 20px;	//
			height: 20px;	//
			// @include bgurl('pop-closeicon.png',$y:0,$xsize:100%,$ysize:auto);	//
			opacity: 0.7;	//
			&:hover {
				opacity: 1;	//
			}
			&:active {
				opacity: 1;	//
				background-position: 0 -20px;	//
			}
		}
		//关闭按钮的三种位置：最外层
		> .btn-closepop {
			width: 36px;
			height: 36px;
			// @include bgurl('pop-closeicon-large.png',$y:0,$xsize:100%,$ysize:auto);
			&:active {
				opacity: 1;
				background-position: 0 -36px;
			}
		}
		//关闭按钮的三种位置：pop-header中
		.pop-header .btn-closepop {
			
		}
		//关闭按钮的三种位置：pop-body中
		.pop-body .btn-closepop {

		}
	}


	///////////////////////////////// 默认弹窗样式（可删）
	.popwrap {
		width: 520px;
		margin-left: -260px;
		margin-top: -100px;
		border: 1px solid $border;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(7, 0, 2, 0.1);
		
	}
	.pop-header {
		position: relative;
		height: 48px;
		padding: 0 20px;
		background-color: #57a2ff;
		.poptit {
			float: left;
			line-height: 48px;
			font-size: 16px;
			color: #fff;
		}
	}
	.pop-body {
		padding: 32px 20px 47px;
		.maintxt {
			line-height: 25px;
			font-size: 14px;
			color: $fz-d;
			text-align: center;
		}
	}
	.pop-footer {
		padding: 0 20px 27px;
		text-align: right;
		.ui-btn {
			min-width: 106px;
			margin: 0 6px;
		}
	}
	&[data-size="size-s"] {
			
	}
	///////////////////////////////// 可配置
	//是否显示遮罩
	&.showmask {
		background: rgba(0,0,0,0.74);
	}
	
	
	
}
