@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 通用搜索框 ---------------------//
.com-search {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	width: 200px;
	.search-selector {
		position: relative;
		padding: 0;
		z-index: $zindex-dd + 1;
		input {
			display: block;
			width: 100%;
			height: 32px;
			line-height: 30px;
			padding: 0 40px 0 12px;
			border-radius: $radius;
			border: 1px solid $border;
			// background-color: $border;
			@include transition(border-color);
			&:focus {
				border-color: $main;
				& + .btn-search {
					background-color: $main;
				}
			}
		}
		.btn-search {
			position: absolute;
			right: 0;
			top: 0;
			width: 32px;
			height: 32px;
			line-height: 32px;
			border-radius: $radius;
			font-size: 20px;
			color: #fff;
			background-color: $main;
			@extend %iconfont;
			@extend %icon-sousuo;
			@include hover(background-color,$main-l,$main-d);
		}
	}
	.search-dropdown {
		position: absolute;
		top: 31px;
		left: 0;
		width: 100%;
		background-color: #fff;
		border: 1px solid $border;
		z-index: $zindex-dd;
		overflow-y: auto;
		overflow-x: hidden;
		text-align: center;
		.dropitem {
			display: block;
			height: 30px;
			line-height: 30px;
			padding: 0 15px;
			font-size: 14px;
			color: $fz;
			@extend %tof;
			cursor: pointer;
			transition: color 0.3s ease-out, background-color 0.3s ease-out;
			&:hover {
				color: $fz-d;
				background-color: #f4f6f8;
			}
			&:active {
				color: blue;
				background-color: #e2e9f0;
			}
		}
	}
}