@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 通用tab ---------------------//
.ui-tab {
	.tab-eachcon {
		position: relative;
		display: none;
		&.on {
			display: block;
		}
	}
}

//--------------------- tab1 ---------------------//
.ui-tab1 {
	.tab-head {
		text-align: right;
		@extend %cf;
	}
	.tabmenu {
		display: inline-block;
		vertical-align: middle;
		> li {
			float: left;
			height: 36px;
			line-height: 36px;
			min-width: 64px;
			padding: 0 18px;
			text-align: center;
			font-size: 14px;
			color: $fz;
			cursor: pointer;
			&:hover {
				color: $main;
			}
			&.on {
				border-bottom: 3px solid $main;
				color: $main;
			}
		}
	}
}