@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 标签云 ---------------------//

.com-tagcloud {
	@extend %cf;
	padding: 10px 2px 0 6px;
	> li {
		float: left;
	}
	.item {
		display: block;
		height: 30px;
		line-height: 30px;
		padding: 0 12px;
		margin: 0 5px 10px;
		background-color: $bg;
		font-size: 14px;
		color: $fz;
		cursor: pointer;
		@include hover(background-color,$main-l,$main-d);
		&:hover,
		&:active {
			color: #fff;
		}
	}
}
