@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 标签云 ---------------------//

.com-tagcloud {
	> li {
		float: left;
	}
	.item {
		display: block;
		height: 36px;
		line-height: 36px;
		padding: 0 12px;
		margin: 10px 5px;
		background-color: $grey-bg;
		font-size: 14px;
		color: $grey-fz;
		cursor: pointer;
		@include hover(background-color,lighten($grey-bg,2%),darken($grey-bg,5%));
	}
}
