@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 淡入淡出 ---------------------//
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-active /* .fade-leave-active in below version 2.1.8 */ {
  opacity: 0
}

//--------------------- slide ---------------------//
.slide-enter-active {
  transition: all .3s ease;
}
.slide-leave-active {
  transition: all .15s ease;
}
.slide-enter, .slide-leave-to {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  opacity: 0;
}