<div class="ui-pop" data-style="" id="pop-upper">
    <div class="popwrap">
        <div class="pop-header">
            <h4 class="poptit">状态操作</h4>
            <a href="###" class="btn-closepop"></a>
        </div>
        <div class="pop-body">
            <p class="maintxt">上架后该版本将在APP列表中显示，是否上架该版本？</p>
        </div>
        <div class="pop-footer">
            <a href="###" class="ui-btn ui-btn-border">否</a>
            <a href="###" class="ui-btn ui-btn-main">是</a>
        </div>
    </div>
</div>