@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 星级评分（只读） ---------------------//

.com-star {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 92px;		//
	height: 15px;		//
	

	///////////////////////////// 写法1：整图只读
	&[data-style="style1"] {
	 	@include bgurl('star-grey.png', $repeat:repeat-x);
	 	.star {
	 		position: absolute;
	 		left: 0;
	 		top: 0;
	 		height: 100%;
	 		@include bgurl('star-yellow.png', $repeat:repeat-x);
	 	}
	}

	///////////////////////////// 写法2：可点击评分
	&[data-style="style2"] {
	 	.star {
	 		
	 	}
	}
}
