@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 分页 ---------------------//
%com-page-btn {
	display: inline-block;
	vertical-align: middle;
	height: 28px;		//
	line-height: 26px;		//
	margin: 0 8px;		//
	border: 1px solid #cfcfcf;		//
	border-radius: 2px;		//
	text-align: center;
	font-size: 16px;		//
	color: #666;		//
	transition: border-color 0.3s ease-out,color 0.3s ease-out;		//
	&:hover {
		border-color: $main-light;		//
		color: $main-light;		//
	}
	&:active {
		border-color: $main-dark;		//
		color: $main-dark;		//
	}
}

.com-page {
	text-align: center;
	font-size: 0;
	.btn-turnpage {
		position: relative;
		min-width: 110px;		//
		padding: 0 10px;		//
		@extend %com-page-btn;
		&:before {
			position: absolute;
			top: 50%;
			width: 20px;		//
			height: 20px;		//
			line-height: 20px;		//
			margin-top: -10px;		//
			letter-spacing: -3px;		//
			font-size: 16px;		//
			color: #666;		//
			@include transition;
		}
		&.page-prev {
			padding-left: 36px;		//
			&:before {
				left: 10px;		//
				content: "<<";
			}
		}
		&.page-next {
			padding-right: 36px;		//
			&:before {
				right: 10px;		//
				content: ">>";
			}
		}
		&:hover {
			&:before {
				color: $main-light;		//
			}
		}
		&:active {
			&:before {
				color: $main-dark;		//
			}
		}
	}
	.btn-num {
		@extend %com-page-btn;
		width: 28px;		//
		&.on {
			border-color: $main;		//
			color: $main;		//
		}
	}
	.more {
		display: inline-block;
		vertical-align: middle;
		width: 28px;		//
		height: 28px;		//
		line-height: 34px;		//
		text-align: center;
		color: #898989;		//
		font-size: 16px;		//
	}
}