@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 标准样式 ---------------------//

.ui-link {
	display: inline-block;
	vertical-align: middle;
	line-height: 18px;		//
	font-size: 14px;		//
	color: blue;		//
	text-decoration: underline;		//
	@include hover(color,lighten($blue,15%),darken($blue,10%));		//
} 
