@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------


//--------------------- 通用样式 ---------------------//
.ui-para {
	line-height: 20px;
	font-size: 14px;
	color: #999;
}
