@@include('_include/_com-meta.html')
    <title>title</title>
</head>
<body>


<div class="layout-mod mod-xx"><!-- 模块私有类名 -->

    <!-- header -->
    <div class="layout-header">
        @@include('../components/_com-header/_header.html')
    </div>
    <!-- /header -->

    <!-- body -->
    <div class="layout-body">  

    	<!-- sidermenu -->
    	<div class="layout-sidermenu">

    	</div>
    	<!-- /sidermenu -->

        <!-- container -->
        <div class="layout-container">

        </div>
        <!-- /container -->

    </div>
    <!-- /body -->


    <!-- footer -->
    <div class="layout-footer">
        
    </div>
    <!-- /footer -->


    <!-- fixbottom -->
    <div class="layout-fix" data-style="fix-rightbottom"><!-- 固定底部：fix-bottom；固定右下角：fix-rightbottom -->

    </div>
    <!-- /fixbottom -->

</div>


@@include('_include/_com-js.html')

</body>
</html>