@@include('_include/_com-meta.html')
    <title>title</title>
</head>
<body>


<div class="layout-mod mod-article"><!-- 模块私有类名 -->

    <!-- header -->
    <div class="layout-header">
        @@include('../components/_com-header/_header.html')
    </div>
    <!-- /header -->

    <!-- body -->
    <div class="layout-body">  

        <!-- ui-tab -->
        <div class="ui-tab ui-tab1">
            <div class="tab-head">
                <div class="layout-wrapper">
                    <ul class="tabmenu">
                        <li class="on">CSS</li>
                        <li>HTML</li>
                    </ul>
                    @@include("../components/_com-search/_search.html")
                    <!-- ui-dropdown -->
                    <div class="ui-dropdown">
                        <a href="###" class="selector">
                            排序方式
                            <i class="dropdown-arrow"></i>
                        </a>
                        <div class="dropdown">
                            <ul class="droplist">
                                <li><a href="###" class="dropitem">最新</a></li>
                                <li><a href="###" class="dropitem">热门</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /ui-dropdown -->
                    @@include("../components/_com-tagcloud/_tagcloud.html")
                </div>
            </div>
            <div class="tab-body layout-wrapper">
                <div class="tab-eachcon on">
                    @@include("../components/_com-list/_list-article.html")
                </div>
                <div class="tab-eachcon">
                    2
                </div>
            </div>
        </div>
        <!-- /ui-tab --> 

    </div>
    <!-- /body -->


</div>


@@include('_include/_com-js.html')

</body>
</html>