<div class="com-list-article">
	<ul class="menulist">
		<li>
			<a class="item">
				<div class="list-image"><img src="../pics/demo-article-cover.png" alt=""></div>	
				<div class="list-main">
					<div class="list-title">
						<div class="titlewrap">
							<p class="title">印象派浅谈之视觉篇</p>
							<span class="tag-origin">原创</span>
						</div>
					</div>
					<p class="list-maintxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. AeneanLorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</p>
					<div class="list-foot">
						@@include('../_com-userhead/_userhead-s.html')
						@@include('../_com-fav/_fav-s.html',{"txt":"65"})
					</div>
				</div>
			</a>
		</li>
	</ul>
</div>