@charset "UTF-8";

//-----------------------------------------------------
// author:  590000
//-----------------------------------------------------

//局部变量
$ui-form-row-h: 40px;		//单行默认高度
$ui-form-row-w: 315px;		//单行默认宽度

//定义通用边框
%comform-border {
	display: inline-block;
	vertical-align: top;	//
	width: $ui-form-row-w;
	height: $ui-form-row-h;
	line-height: $ui-form-row-h;
	padding: 0 10px;	//
	font-size: 14px;	//
	color: $grey-fz-dark;	//
	border-radius: $radius;	//
	border: 1px solid $grey-border-darker;	//
	@include transition(border-color);	//
}

//定义通用聚焦
%comform-focus {
	&:focus {
		border-color: $blue;
	}
}

//定义隐藏元素
%comform-hidden {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	font-size: 100px;	//
}
[placeholder],
*[placeholder] {
	color: $grey-fz-light !important;	
}

//--------------------- 表单通用样式——表单框架 ---------------------//
.ui-formbox {
	width: 700px;	//
	margin: 0 auto;
}
.ui-formrow {
	position: relative;
	margin-bottom: 18px;	//
	padding-left: 220px;	//
	//标题
	.form-label {
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 200px;	//
		line-height: $ui-form-row-h;
		margin-right: 18px;	//
		font-size: 14px;	//
		color: $grey-fz;	//
		text-align: right;
	}
	//必选项标记
	.must {
		margin-left: 4px;	//
		color: $red;
	}
	//内容容器
	.form-con {
		position: relative;
		padding-right: 160px;     //
		min-height: $ui-form-row-h;
	}
	//提示文字
	.form-tip {
		position: absolute;
		right: 0;
		bottom: 2px;     //
		width: 160px;     //与form-con的padding-right一致
		padding-left: 10px;     //
		line-height: 16px;     //
		font-size: 12px;     //
		color: $blue;     //
		text-align: left;
	}
	//提交按钮
	&.form-btnwrap {

	}
	//隐藏元素
	.form-hidden {
		@extend %comform-hidden;
	}
}



//--------------------- 状态汇总 ---------------------//
.ui-formrow {
	//聚焦状态
	&[data-status="focus"] {

	}

	//错误状态
	&[data-status="error"] {
		//input
		.form-input,
		.form-textarea {
			border-color: $red;
		}
		.form-tip {
			color: $red;
		}
	}

	//正确状态
	&[data-status="correct"] {
		//input
		.form-input,
		.form-textarea {
			border-color: $green;
		}
		.form-tip {
			color: $green;
		}
	}
}

@import "form-ele";

