<div class="com-slider" id="sliderWrap">
	<ul class="sliderbody">
		<li><a href="###" style="background-image: url(../pics/demo-banner1.png)" class="slideritem">
		</a></li>
		<li><a href="###" style="background-image: url(../pics/demo-banner1.png)" class="slideritem">
		</a></li>
		<li><a href="###" style="background-image: url(../pics/demo-banner1.png)" class="slideritem">
		</a></li>
		<li><a href="###" style="background-image: url(../pics/demo-banner1.png)" class="slideritem">
		</a></li>
	</ul>
	<div class="slidernav">
		<p class="navbody">
			<span class="navdot"></span>
			<span class="navdot on"></span>
			<span class="navdot"></span>
			<span class="navdot"></span>
		</p>
	</div>
	<a href="###" class="sliderbtn slider-prev"></a>
	<a href="###" class="sliderbtn slider-next"></a>
</div>