// other color
$org:                   #ddd;

$blue:                 #00c8c8;
$blue-l:               #0cd2d2;
$blue-d:               #06bebd;

$yellow:                #fdc556;
$yellow-l:              #fccf74;
$yellow-d:              #f7af25;

$red:                   #ff7878;
$red-l:                 #fc8a8a;
$red-d:                 #ea6060;

$green:                  #ddd;
$purple:                #ddd;
$pink:                  #ddd;

// main color
$main:                  $blue;
$main-d:                $blue-d;
$main-dr:               $blue-d;
$main-l:                $blue-l;
$main-lr:               $blue-l;

// sub color
$sub: 					$red;
$sub-d: 				$red-d;
$sub-dr: 			    $red-d;
$sub-l: 			    $red-l;
$sub-lr: 			    $red-l;

// grey color
$bgdark:                #3d3d3d;
$bgdark-d:              #333;
$bgdark-l:              #555;
$border: 			    #ddd;
$border-d: 		        #ccc;
$border-l: 	            #e7e7e7;
$bg: 			        #ddd;
$bg-d: 	                #ccc;
$bg-l: 	                            #f7f7f7;
$fz:                                #575153;
$fz-d: 			                    #222;
$fz-l: 		                        #8e8c8c;
$fz-lr: 		        #aaa;
$icon:                  #fff;

//--------------------- radius ---------------------//

$radius:                3px;           //rem：去掉单位
$radius-s:              2px;
$radius-l:              6px;


//--------------------- z-index ---------------------//

$zindex-below:          -1;
$zindex-default:        1;
$zindex-fix:            50;		//fixed topbar,backtotop
$zindex-dd:             70;		//dropdown
$zindex-modal:          100;	//pop    
$zindex-up:             3;
$zindex-down:           2;


//--------------------- animation ---------------------//

$dur-s:                 0.3s;
$dur:                   0.5s;
$dur-l:                 1s;
$dur-h:                 2s;

$shadow:                0 0 10px rgba(0,0,0,0.1);

//--------------------- width and height ---------------------//

$header-h:              50px;      // header height  
$nav-h:                 64px;      // mainnav height  
$footer-h:              0px;      // footer height 
$wrapper-w:				1200px;      // 正文 width
$min-w:				    1024px;      // 正文 width,1024还需加上滚动条宽度
$side-w:				234px;      // 侧栏 width
$padding:  				30px;



//--------------------- media ---------------------//

$mq-s:                  max-width $min-w;
// $mq-n:                  1024px 1200px;
// $mq-l:                  1000px;
// $mq-h:                  1600px;
// media query
// @example:
// 示例scss:
//   .foo{
//     width: 500px;
//     @include breakpoint($mq-n){
//       width: 200px;
//     }
//   }
