@charset "UTF-8";
/*
 * module:  mod-usercenter
 * author:  590000
 */

//个人中心
.mod-usercenter {
	height: 100%;
	position: relative;
	padding-left: 210px;

	background: #4CB8C4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	.sideby {
		position: absolute;
		left: 0px;
		top: 0;
		bottom: 0px;
		width: 210px;
		padding-left: 10px;
		padding-top: 130px;//
		.logo {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 130px;//
			// background-color: $main;
		}
		.slideby-con {
			position: relative;
			height: 100%;
			padding-top: 80px;
			background-color: $bg-d;
			border-top-left-radius: 10px;
			background-color: $bgdark;
			.com-userhead {
				position: absolute;
				left: 0;
				top: -42px;
				right: 0;
			}
		}
	}
	//左侧菜单
	.slideMenu {
		padding-top: 30px;
		li {
			line-height: 50px;
			padding-left: 82px;
			font-size: 14px;
			color: #ffffff;
			text-align: left;
			border-top: 1px solid #303030;
			cursor: pointer;
			&.on {
				// background-color: $bg-der;
				background-color: $bgdark-l;
				// margin-left: -6px;
				color: $main;
				// border-top-left-radius: 5px;
				// border-bottom-left-radius: 5px;
			}
			&:hover {
				color: $main;
			}
		}
	}
	.mainby {
		background-color: #fff;
		// border-top-left-radius: 10px;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

	//个人中心顶部
	.ui-user-header {
		@extend %cf;
		padding: 20px 30px 30px 20px;
		text-align: right;	
		.user-header {
			float: left;
			height: 46px;
			line-height: 46px;
			padding-left: 20px;
			font-size: 18px;
			text-align: left;
			color: $fz-d;
			@include bgurl('user-header.png');
			background-position: left center;
			.font-l {
				font-size: 30px;
			}
		}
		.ui-btn {

		}
	}
	//创建文章
	.myartCreate .ueditorbox {
		.createbox {
			width: 80%;
			padding: 0 30px;
			.createtit {
				line-height: 20px;
				margin-bottom: 10px;
				font-size: 14px;
				color: $fz-l;
				.num {
					font-size: 20px;
					margin-right: 2px;
				}
			}
			.artsetting {
				@extend %cf;
			}
		}
		//文章标题
		.arttitwrap {
			margin-bottom: 15px;
			@extend %cf;
		}
		.arttitbox {
			position: relative;
			margin-bottom: 16px;
			padding-left: 0;
			border: 4px solid #ededed;
			.ui-dropdown {
				position: absolute;
				left: 0px;
				top: 0px;
				border-right: 1px solid $border;
			}
			.selector {
				display: block;
				width: 100px;
			}
			.inp-arttit {
				padding-left: 120px;
				font-size: 16px;
				color: $fz-d;
				// font-weight: bold;
			}
		}
		.sortwrap {
		    height: 40px;
		    @extend %vm;
		    .sort {
		    	display: inline-block;
		    	vertical-align: middle;
		    	height: 24px;
		    	line-height: 24px;
		    	padding: 0 10px;
		    	font-size: 14px;
		    	color: $fz;
		    	border-radius: 3px;
		    	margin-right: 6px;
		    	cursor: pointer;
		    	transition: color 0.3s ease-out;
		    	&:hover {
		    		color: $main;
		    	}
		    	&.on {
		    		background-color: $main;
		    		color: #fff;
		    	}
		    }
		}
		.checkboxwrap {
			height: 40px;
			@extend %vm;
			.form-checkbox {
				margin-right: 20px;
			}
		}

		.btnwrap {
			padding: 20px 0 80px 115px;
			.ui-btn {
				margin-right: 16px;
			}
		}
	}
	//文章列表
	.myartList {
		.artlist {
			width: 100%;
			.artlist-md {
				height: 16px;
				padding: 0 4px;
				background-color: $main;
				font-size: 12px;
				color: #fff;
				border-radius: 3px;
				margin-right: 6px;
			}
			td {
				line-height: 40px;
				font-size: 12px;
				color: $fz;
				border: 1px solid $border;
				text-align: center;
			}
			thead td {
				font-weight: bold;
				background-color: $bg;
			}
			.btn-ctrl {
				display: inline-block;
				vertical-align: middle;
				width: 28px;
				height: 28px;
				line-height: 28px;
				@extend %iconfont;
				font-size: 20px;
				color: $fz;
				@include hover(color,$main,$main-d);
				// &.ctrl-view {
				// 	@extend %icon-view;
				// }
				&.ctrl-edit {
					@extend %icon-edit1;
				}
				&.ctrl-del {
					@extend %icon-shanchu;
				}
			}

		}
	}
	//收藏文章
	.favorartList,
	.myartList {
		.listbox {
			padding: 0 30px;
		}
		.ui-tab1 {
			padding: 0 20px;
			.tab-head {
				border-bottom: 1px solid $border;
			}
			.tabmenu {
				float: left;
			}
			.tab-body {
				padding-top: 40px;
			}
		}
	}

	//markdown
	.markdownbox {
		position: relative;
		padding-top: 142px;
		position: relative;
		background-color: $bg-l;
		height: 100%;
		.createbox {
			height: 100%;
		}
		#editor {
			height: 100%;
		}
		.markdown-head {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 142px;
			.btnwrap {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.form-error {
			color: $red;
		}
		.sortwrap {
			display: inline-block;
			vertical-align: middle;
		}
		.ui-user-header {
			padding-bottom: 16px;
		}
		.markdown-title {
			position: relative;
			padding: 0 20px;
			margin-bottom: 20px;
		}
		.inp-arttit {
			float: left;
			width: 40%;
		}
		.markdown-sub {
			display: inline-block;
			vertical-align: middle;
			max-width: 60%;
			height: 40px;
			position: relative;
			padding: 0 100px 0 20px;
			overflow: hidden;
		}
		.sub-col {
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			line-height: 40px;
			margin-right: 20px;
		}
		.col-label {
			color: $fz;
		}
		.col-con {
			color: $main;
		}
		.col-con-empty {
			min-width: 22px;
			position: relative;
			color: #aaa;
			&:before {
				@extend %iconfont;
				@extend %icon-help;
			}
		}
		.col-con-origin {
			@extend %iconfont;
			@extend %icon-link;
			color: $main;
		}
		.col-con-cover {
			@extend %iconfont;
			@extend %icon-tupian1;
			color: $main;
		}
		.col-con-tagcloudlist {
			padding-right: 10px;
			position: relative;
			&:last-child:after {
				display: none;
			}
			&:after {
				position: absolute;
				top: 50%;
				right: 0;
				width: 10px;
				line-height: 30px;
				margin-top: -15px;
				content: "、";
			}
		}
		.btn-editsub {
			position: absolute;
			top: 5px;
			right: 0;
			width: 100px;
			height: 30px;
			padding: 0 15px 0 10px;
			line-height: 30px;
			text-align: center;
			border-left: 1px solid $border-d;
			cursor: pointer;
			&:before {
				position: absolute;
				top: 50%;
				right: 0;
				width: 12px;
				height: 12px;
				margin-top: -6px;
				line-height: 12px;
				font-size: 12px;
				color: $fz;
				@extend %iconfont;
				@extend %icon-arrow3;
			}
			&:hover {
				color: $main;
				&:before {
					color: $main;
				}
			}
		}
		.markdown-sub-dropdown {
			position: absolute;
			top: 40px;
			left: 0;
			right: 0;
			padding: 20px;
			background-color: #fff;
			z-index: 2000;
			box-shadow: 0 1px 3px rgba(0,0,0,.3);
		}
		.sortwrap {
		    height: 40px;
		    @extend %vm;
		    .sort {
		    	display: inline-block;
		    	vertical-align: middle;
		    	height: 24px;
		    	line-height: 24px;
		    	padding: 0 10px;
		    	font-size: 14px;
		    	color: $fz;
		    	border-radius: 3px;
		    	margin-right: 6px;
		    	cursor: pointer;
		    	transition: color 0.3s ease-out;
		    	&:hover {
		    		color: $main;
		    	}
		    	&.on {
		    		background-color: $main;
		    		color: #fff;
		    	}
		    }
		}
		.checkboxwrap {
			height: 40px;
			@extend %vm;
			.form-checkbox {
				margin-right: 20px;
			}
		}
	}
}

.previewfix {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100px;
	background-color: rgba(0,0,0,0.7);
	@extend %vm;
	text-align: center;
	.ui-btn {
		min-width: 120px;
		margin: 0 10px;
	}
}