@charset "UTF-8";
/*
 * module:  mod-login
 * author:  590000
 */

//登录
.mod-login {
	//登录弹窗
	.loginPop {
		
	}

	.formbox {
	    padding: 30px;
	}
	.errortip {
	    height: 20px;
	    line-height: 20px;
	    margin: 20px 0 10px;
	    text-align: center;
	    font-size: 12px;
	    color: red;
	}
	.form-input {
	    position: relative;
	}
	.inp-username {
	    border-bottom-left-radius: 0;
	    border-bottom-right-radius: 0; 
	}
	.inp-pwd {
	    margin-top: -1px;
	    border-top-left-radius: 0;
	    border-top-right-radius: 0; 
	}
}