@charset "UTF-8";

/*
 * module:  mod-article
 * author:  590000
 */

//文章列表页
.mod-article {
    background-color: $bg-l;
    padding-top: $header-h;
    .ui-tab {
        .tab-head {
            margin-top: 15px;
            height: 50px;
            // background-color: #fff;
            // box-shadow: 0 1px 2px #ddd;
            .layout-wrapper {
                height: 100%;
                @extend %vm;
                border-bottom: 1px solid $border;
            }
            .tabmenu {
                float: left;
                height: 100%;
                vertical-align: bottom;
                li {
                    margin-bottom: -1px;
                    height: 50px + 1px;
                    line-height: 50px + 1px;
                }
            }
            .ui-dropdown {
                margin-left: 20px;
                .selector {
                    position: relative;
                    display: block;
                    padding-right: 20px;
                    cursor: pointer;
                }
            }
        }
    }
    .com-list-article {
        padding-top: 40px;
    }
    //详情页
    .detail-header {
        position: relative;
        height: 400px;
        @include bgurl('default-article-topbg.jpg',
        $x: center, $y: center);
        // &:before {
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        //     content: "";
        //     background-color: rgba(47, 42, 82, 0.7);
        //     z-index: $zindex-down;
        // }
        .layout-wrapper {
            position: relative;
            height: 100%;
            @extend %vm;
            text-align: center;
            z-index: $zindex-up;
        }
        .headerbox {
            display: inline-block;
            vertical-align: middle;
            width: 95%;
        }
        .article-tit {
            line-height: 40px;
            font-size: 30px;
            color: #fff;
            font-weight: lighter;
        }
        .tag-origin {
            display: inline-block;
            vertical-align: top;
            min-width: 40px;
            height: 20px;
            line-height: 20px;
            margin-left: 20px;
            padding: 0 9px;
            text-align: center;
            font-size: 12px;
            color: #fff;
            background-color: $sub;
            border-radius: $radius;
        }
        .subcon {
            margin-top: 20px;
        }
        .article-date {
            padding-top: 16px;
            line-height: 14px;
            font-size: 12px;
            color: #fff;
            padding: 0 16px;
            border-right: 1px solid rgba(255,255,255,.3); 
            &:last-child {
                border-right: none;
            }
            .date {
                margin-left: 6px;
                color: #fff;
                font-weight: lighter;
            }
        }
        .tagwrap {
            display: inline-block;
            vertical-align: middle;
            &:before {
                display: inline-block;
                vertical-align: middle;
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin-right: 6px;
                font-size: 14px;
                color: #fff;
                @extend %iconfont;
                @extend %icon-tag;
            }
            .btn-tag {
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
                line-height: 20px;
                font-size: 12px;
                color: #fff;
                border-bottom: 1px dashed $border;
                cursor: pointer;
                @include hover(color,$main,$main-d);
                @include hover(border-bottom-color,$main,$main-d);
            }
        }
    }
    .detail-container {
        // background-color: #fafafa;
        @extend %cf;
        padding-bottom: 50px;
    }
    .layout-mainby {
        background-color: #fff;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        padding: $padding;
        padding-top: 50px;
        overflow: hidden;
        min-height: 600px;
        
        //////////////文章内容
        //引用
        blockquote {
            padding: 16px;
            line-height: 20px;
            margin-bottom: 35px;
            font-size: 14px;
            color: $fz-l;
            border-left: 4px solid $border;
            background-color: $bg-l;
        }
        //正文
        p {
            margin-bottom: 25px;
            line-height: 24px;
            font-size: 14px;
            color: $fz;
            text-align: left;
        }
        //图片
        img {
            display: block;
            margin: 0 auto 25px;
            max-width: 100%;
            height: auto;
        }
        //一级标题
        h1 {
            margin-bottom: 25px;
            margin-top: 25px;
            line-height: 64px;
            font-size: 24px;
            color: $fz-d;
            font-weight: bold;
        }
        //二级标题
        h2 {
            margin-bottom: 20px;
            padding-top: 50px;
            line-height: 50px;
            font-size: 20px;
            color: $fz-d;
            font-weight: bold;
            border-bottom: 1px solid $border;
        }
        //二级标题
        h3 {
            margin-bottom: 15px;
            padding-top: 25px;
            line-height: 26px;
            font-size: 16px;
            color: $fz-d;
            font-weight: bold;
        }
        //二级标题
        h4 {
            margin-bottom: 10px;
            padding-top: 10px;
            line-height: 16px;
            font-size: 14px;
            color: $fz-d;
            font-weight: bold;
        }
        //二级标题
        h5,
        h6 {
            margin-bottom: 10px;
            padding-top: 10px;
            line-height: 20px;
            font-size: 12px;
            color: $fz-d;
            font-weight: bold;
        }
        //代码片段
        p code {
            display: inline;
            margin: 0 3px;
            padding: 0 4px;
            line-height: 22px;
            border: 1px solid $border;
            background-color: #ddd;
            border-radius: 2px;
            @extend %wb;
        }
        //链接
        a {
            color: $main;
        }
        //无序列表
        ul {
            margin-left: 30px;
            margin-bottom: 25px;
            list-style: disc;
            >li {
                margin-bottom: 10px;
                line-height: 24px;
                font-size: 14px;
                color: $fz;
            }
        }
        //有序列表
        ol {
            margin-left: 20px;
            margin-bottom: 25px;
            list-style: decimal;
            >li {
                margin-bottom: 10px;
                line-height: 24px;
                font-size: 14px;
                color: $fz;
            }
        }
        //代码片段通用
        pre {
            padding: 0;
            border-radius: $radius;
            
            color: $fz;
            margin-bottom: 20px;
            .hljs {
                background-color: $bg-l;
                line-height: 1.5;
                font-size: 14px;
                font-family: 'Lucida Console,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace';
            }
        }
    }
    .layout-sideby {
        float: right;
        width: 200px;
        padding: $padding 20px;
        padding-top: 50px;
        // background-color: #fafafa;
        .sidetitle {
            display: inline-block;
            padding-right: 10px;
            line-height: 38px;
            margin-bottom: 10px;
            font-size: 18px;
            color: $fz-d;
            border-bottom: 3px solid $border;
        }
        .com-userhead {
            margin-bottom: 25px;
            .name {
                font-size: 16px;
                color: $fz;
            }
        }
        .btnwrap {
            margin-bottom: 30px;
            .ui-btn {
                display: block;
                margin-bottom: 14px;
                padding-left: 40px;
                text-align: left;
                &:hover {
                    .comment {
                        color: $main;
                    }
                }
            }
            .comment {
                @extend %iconfont;
                @extend %icon-edit;
                margin-right: 10px;
                font-size: 18px;
                color: $fz-l;
                @include transition;
            }
            .fav {
                @extend %iconfont;
                @extend %icon-shoucang1;
                margin-right: 10px;
                font-size: 18px;
                color: #fff;
                
            }
            .favfull {
                @extend %iconfont;
                @extend %icon-shoucang;
                margin-right: 10px;
                font-size: 18px;
                
            }
        }
        //相似文章
        .similar {
            margin-bottom: 30px;
            .com-tagcloud {
                padding-left: 0;
            }
            .item {
                margin-left: 0;
            }
        }
        .similarlist {
            .item {
                display: block;
                line-height: 30px;
                font-size: 14px;
                color: $fz;
                @extend %tof;
                &:hover {
                    text-decoration: underline;
                    color: $main;
                }
            }
        }
    }
    .listtit {
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: $fz-l;
        .result {
            color: $main;
            font-size: 18px;
        }
    }

    //预览
    &.article-preview {
        padding-top: 0;
        .detail-container {
            padding-bottom: 120px;
        }
    }
}