@charset "UTF-8";
/*
 * module:  mod-usercenter
 * author:  590000
 */

//个人中心
.mod-usercenter {
	height: 100%;
	position: relative;
	padding-left: 250px;
	.sideby {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 250px;
		padding-top: 130px;//
		.logo {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			height: 130px;//
			background-color: $main;
		}
		.slideby-con {
			position: relative;
			height: 100%;
			padding-top: 80px;
			background-color: $grey-bg-dark;
			.com-userhead {
				position: absolute;
				left: 0;
				top: -42px;
				right: 0;
			}
		}
	}
	//左侧菜单
	.slideMenu {
		padding-top: 30px;
		li {
			line-height: 50px;
			padding-left: 82px;
			font-size: 16px;
			color: #ffffff;
			text-align: left;
			border-top: 1px solid #303030;
			&.on {
				background-color: $grey-bg-darker;
			}
		}
	}
	.mainby {
		height: 100%;
	}

	//个人中心顶部
	.ui-user-header {
		@extend %cf;
		padding: 20px 20px 30px;	
		.user-header {
			float: left;
			height: 46px;
			line-height: 46px;
			padding-left: 20px;
			font-size: 18px;
			color: $grey-fz-dark;
			@include bgurl('user-header.png');
			background-position: left center;
			.font-l {
				font-size: 30px;
			}
		}
	}
	//创建文章
	.myartCreate {
		.createbox {
			padding: 0 30px;
			.createtit {
				line-height: 20px;
				margin-bottom: 10px;
				font-size: 14px;
				color: $grey-fz-light;
				.num {
					font-size: 20px;
					margin-right: 2px;
				}
			}
		}
		//文章标题
		.arttitbox {
			position: relative;
			margin-bottom: 25px;
			border: 4px solid #ededed;
			.ui-dropdown {
				position: absolute;
				left: 0px;
				top: 0px;
				border-right: 1px solid $grey-border;
			}
			.inp-arttit {
				padding-left: 90px;
				font-size: 16px;
				color: $grey-fz-dark;
				font-weight: bold;
			}
		}
		.sortwrap {
		    height: 40px;
		    @extend %vm;
		    .sort {
		    	display: inline-block;
		    	vertical-align: middle;
		    	height: 24px;
		    	line-height: 24px;
		    	padding: 0 10px;
		    	font-size: 14px;
		    	color: $grey-fz;
		    	border-radius: 3px;
		    	margin-right: 6px;
		    	cursor: pointer;
		    	transition: color 0.3s ease-out;
		    	&:hover {
		    		color: $main;
		    	}
		    	&.on {
		    		background-color: $main;
		    		color: #fff;
		    	}
		    }
		}
		.checkboxwrap {
			height: 40px;
			@extend %vm;
			.form-checkbox {
				margin-right: 20px;
			}
		}

		.btnwrap {
			padding: 20px 0 40px 115px;
			.ui-btn {
				margin-right: 16px;
			}
		}
	}

}