@charset "UTF-8";

/*
 * module:  mod-common
 * author:  590000
 */

.ui-list {

}

// 卡片
$ui-card-margin :     20px;
.ui-card {
    @extend %cf;
    margin-right: -$ui-card-margin;
    &--three { //一行三列
        > li {
            width: 33.33333333%;
        }
    }
    &--four { //一行四列
        > li {
            width: 25%;
        }
    }
    &--bg { //带灰色背景
        .ui-card__title-center {
            color: #fff;
        }
        .ui-card__infor {
            color: rgba(255,255,255,0.75);
        }
    }
    &__wrapper {
        position: relative;
        padding-top: 9/16 * 100%;
        height: 0;
        border: 1px solid $border;
        background-color: #fff;
        overflow: hidden;
        border-radius: $radius-s;
        box-shadow: $shadow;
        cursor: pointer;
        &:hover {
            border-color: $main;
        }
    }
    > li {
        float: left;
        padding-right: $ui-card-margin;
        
    }
    &__item {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        @extend %vm;
        text-align: center;
    }
    &__mask {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    }
    // 居中标题
    &__title-center {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 95%;
        line-height: 50px;
        font-size: 24px;
        color: $fz;
    }
    //背景图
    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-position: center center;
        background-size: 100% 100%;
        background-size: cover;
        background-image: url(assets/pics/demo-article-cover.png);
        &:before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.7);
            content: '';
        }
    }
    // 底部
    &__footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 10px;
        @extend %cf;
        .fl {
            float: left;
        }
        .fr {
            float: right;
        }
    }
    // 说明文字
    &__infor {
        line-height: 20px;
        font-size: 12px;
        color: $fz-l;
        text-align: left;
    }
    // 右上角操作栏
    &__ctrl {
        position: absolute;
        top: 0;
        right: 0;
        &:hover &-list {
            display: block;
        }
        &:hover &-mainlink {
            background-color: rgba(255,255,255,0.2);
        }
        &-mainlink {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            opacity: 0.7;
            @extend %iconfont;
            @extend %icon-cdiconmenu;
            cursor: pointer;
            &:hover {
                @include transition(opacity);
                opacity: 1;
                color: #fff;
            }
        }
        &-list {
            display: none;
            position: absolute;
            top: 30px;
            right: 0;
            width: 100px;
            border: 1px solid $border;
            background-color: #fff;
            z-index: $zindex-dd;
            li {
                line-height: 30px;
                font-size: 14px;
                color: $fz;
                text-align: left;
                padding: 0 20px;
                cursor: pointer;
                &:hover {
                    color: $main;
                    @include transition;
                }
            }
            .icon {
                margin-right: 10px;
                &-edit {
                    @extend %iconfont;
                    @extend %icon-edit1;
                }
                &-delete {
                    @extend %iconfont;
                    @extend %icon-shanchu;
                }
                //移动到
                &-moveto {
                    @extend %iconfont;
                    @extend %icon-moveto;
                }
                //复制到
                &-copyto {
                    @extend %iconfont;
                    @extend %icon-copy;
                }
            }
            .text {

            }
        }
    }
}


// 面包屑
.ui-crumb {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 14px;
    color: $fz-l;
    &__link {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: $main;
            @include transition;
        }
    }
    &__seperate {
        margin: 0 5px;
        color: #bbb;
    }
    &__position {
        color: $fz;
    }
}