@charset "UTF-8";
/*
 * style 	v1.0
 * author:  590000
 * date:    2016-07-18
 */


//--------------------- init ---------------------//

// variables and mixins
@import "_base/_variables";
@import "_base/_mixin";
@import "_base/_breakpoint";

// reset
@import "_base/_normalize";      // if you need
@import "_base/_reset";


//--------------------- Components ---------------------//
 
// base
@import "fonts/iconfont";      // if you need
@import "_base/_layout";
@import "components/_transition"; //过渡动画

// Components - copy - ui
@import "components/_btn";
@import "components/_link";
// @import "../components/_ui-crumb/_crumb";
@import "components/_dropdown";      //js
// @import "../components/_ui-placeholder/_placeholder";
@import "components/_form";
@import "components/_pop";      //js
@import "components/_message";   
@import "components/_tab";      //js
// @import "../components/_ui-title/_title";
// @import "../components/_ui-link/_link";
// @import "../components/_ui-toast/_toast";
// @import "../components/_ui-para/_para";

// Components - include - com
@import "components/_header";
// @import "../components/_com-footer/_footer";
// @import "../components/_com-largeview/_largeview";      //js
@import "components/_list";
@import "components/_page";
@import "components/_search";
// @import "../components/_com-star/_star";
@import "components/_userhead";
@import "components/_tagcloud";
@import "components/_loading-mod";
@import "components/_error";
@import "components/_maintitle";
@import "components/_modal";
@import "components/_anchor";
// @import "../components/_com-totop/_totop";      //js
// @import "../components/_com-slider/_slider";      //js
@import "components/_fav";      //js
@import "components/_modhead";  

// utility classes
@import "_base/_utilities";


//--------------------- pages ---------------------//
.fade-transition {
    transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave {
    opacity: 0;
}
#app {
	height: 100%;
}


@import "_mod-common"; // 通用
@import "_mod-article"; // 文章管理
@import "_mod-usercenter"; // 个人中心
@import "_mod-login"; // 登录注册
@import "_mod-navigation"; // 网址导航
@import "_mod-makeup"; // 化妆品管理
@import "_mod-photo"; // 摄影集
